@import "tailwindcss";
@import "../styles/index.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-mono: var(--font-space-grotesk);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
  scroll-behavior: smooth;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-space-grotesk), sans-serif;
  font-weight: 700;
}
